<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/main.css">
    $CSS_LINK
<!--     $JS_FILE
 -->    <title>$TAB_TITLE</title>
</head>
<body>

    <header>
        <nav>
            <a href="/"> <img id="LOGO" src="../images/fullstackartistLogo.png"> </a>
<!--             <a href="/cv">Cv</a>
            <a href="/listofprojects">Projects</a>
            <a href="/aboutme">About me</a> -->
        </nav>
    </header>


<main>